

.footer .credits


.footer .copyright {
    text-align: center;
    padding-top: 30px;
    color: #ffffff;
}

.footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
}

.footer .credits a {
    text-decoration: none;
    color: var(--primary);
}