/* Back To Top */
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    background: var(--primary);
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.4s;
    display: flex;
}