.mainBtn {
    position: relative;
    display: inline-flex;
    gap: 10px;
    margin-right: 15px;
    background: var(--primary);
    color: #ffffff;
    padding: 5px 16px;
    text-decoration: none;
}